@import "tailwindcss";

@theme {
  --color-primary-200: #e6ccef;
  --color-primary-400: #640ba7;
  --color-primary-500: #410287;
  --color-primary-600: #35007c;
  --font-hashbnb:
    Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}
